# if using haproxy.cfg use this one below
REACT_APP_SERVER_URL="http://localhost:80"

# if not use this ones
SECRET="your-jwt-secret"
CLOUD_NAME="your-cloud-name"
CLOUD_API_KEY="your-api-key"
CLOUD_API_SECRET="your-api-secret"