# =========================
# Node dependencies
# =========================
client/node_modules
mobile/node_modules
server/node_modules
backend/*/node_modules
node_modules

# =========================
# Environment / secrets
# =========================
client/.env
mobile/.env
server/.env
backend/*/.env
.env

# Kubernetes secrets
kubernetes/cloudinary-secret.yaml
kubernetes/auth-secret.yaml

# =========================
# Expo
# =========================
mobile/.expo

# =========================
# Logs
# =========================
npm-debug.log

# =========================
# Build files
# =========================
build

# =========================
# Terraform
# =========================
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# =========================
# OS
# =========================
.DS_Store